header, .container1, footer {
    background-color: #1f2937;
}

.main-text, .logo-text {
 color: #f9faf9;

}

.main-text {
    font: 48px bolder;
    font-family: "Roboto";
}

.secondary-text, .link {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto";
}

.logo-text {
    font-size: 24px;
}

button {
    background-color: #3882f6;
    color: #f9faf9;
}

.container3 {
    background-color: #e5e7eb;
}

.quote-text {
   color: black;
   font-size: 36px;
   font-family: "Roboto";
   font-weight:lighter;
   font-style: italic;
}

footer {
    margin: auto;
    text-align: center;
    color: #f9faf9;
    font-family: "Roboto";
}